apiVersion: v1
kind: Service
metadata:
  name: ms-persistance
  labels:
    app: ms-persistance
spec:
  type: NodePort
  selector:
    app: ms-persistance
  ports:
  - port: 8090
    targetPort: 8090
    protocol: TCP
    name: http

